* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

#userForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: azure;
    
}

#userForm > * {
    padding: 10px;
}

#agregarUser {
    width: 30%;
    background-color: rgb(85, 136, 136);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

#agregarUser:hover {
    background-color: rgb(68, 109, 109);
}

#userTable {
    width: 600px;
    background-color: rgb(213, 212, 212);
    text-align: left;
    color: black;

}

th {
    padding: 5px;
}

#clear {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(85, 136, 136);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

#clear:hover {
    background-color: rgb(68, 109, 109);
}

table tbody tr:nth-child(2n) {
    background-color: azure;
}

table tbody tr:nth-child(2n+1) {
    background-color: white;
}

#theme-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: rgb(85, 136, 136);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#theme-btn:hover {
    background-color: rgb(68, 109, 109);
}

.dark-theme {
    background-color: rgb(84, 84, 84);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.light-theme {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease-in-out;
}